body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 99vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

/* BACKGROUND  */
#background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1079px;
  height: 606px;
  color: #fff;
  background-image: url("images/bg.png");
  background-position: center;
  background-size: 1190px;
}

.up-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0;
  height: 180px;
}

.date {
  font-size: 1.5rem;
}

.text-m {
  font-size: 1.3rem;
}

.motto {
  font-size: 1.3rem;
  color: #ec5c36;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 380px;
}

.table h2 {
  text-align: center;
  width: 80px;
  background-color: red;
}

.banner-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 489px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 5px;
  padding-right: 5px;
}

.banner-1 .orange-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 352px;
  height: 34px;
  background-color: #f05e38;
  line-height: 0;
}

.banner-1 .orange-banner .o-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scale: 1.3;
  width: 15%;
  height: 100%;
  background-color: #f05e38;
  border: solid #333 2px;
}

.orange-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 0;
  height: 100%;
}

.teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner-1 {
  display: none;
}

#banner-2 {
  display: none;
}

#banner-3 {
  display: none;
}

#banner-4 {
  display: none;
}

#banner-5 {
  display: none;
}

#banner-6 {
  display: none;
}

#banner-7 {
  display: none;
}

#banner-8 {
  display: none;
}

#btn, .btn {
  width: 100%;
  cursor: pointer;
  height: 24px;
}

.logo {
  max-height: 100%;
  max-width: 100%;
}

.logo-area-1, .logo-area-2 {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchid {
  min-width: 150px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputs input {
  display: none;
}

.inputs .block {
  display: block;
}

.date input {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3.5rem;
  background-color: unset;
  border: 0;
}

.bk {
  position: relative;
  top: 20px;
  left: 50%;
  right: 50%;
  width: 100%;
  max-width: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#team-1 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

#team-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.marginH {
  color: #fff !important;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-base {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}
/*# sourceMappingURL=kanyon.css.map */